<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-editors-menu" label="Editors">

  <item label="Emacs">
    <action name="Execute">
      <command>emacs</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Emacs</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Mousepad">
    <action name="Execute">
      <command>mousepad</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Thunderbird">
    <action name="Execute">
      <command>thunderbird</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="LibreOffice">
    <action name="Execute">
      <command>LibreOffice</command>
    </action>
  </item>
  <item label="LibreOffice Calc">
    <action name="Execute">
      <command>libreoffice --calc</command>
    </action>
  </item>
  <item label="LibreOffice Writer">
    <action name="Execute">
      <command>libreoffice --writer</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="VLC">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-fileman-menu" label="File Managers">
  <item label="Thunar">
    <action name="Execute">
      <command>Thunar</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Risettro">
    <action name="Execute">
      <command>risettro</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Pinta">
    <action name="Execute">
      <command>pinta</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Xfce Terminal">
    <action name="Execute">
      <command>xfce4-terminal</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="LightDM GtK Greeter Settings">
    <action name="Execute">
      <command>lightdm-gtk-greeter-settings</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Xfce4 Power Manager">
    <action name="Execute">
      <command>xfce4-power-manager-settings</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Network Manager Connection Editor">
    <action name="Execute">
      <command>nm-connection-editor</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="power-menu" label="Power">
  <item label="Lock Screen">
    <action name="Execute">
      <command>xfce4-screensaver-command --lock</command>
    </action>
  </item>
  <item label="Log Out">
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="Restart">
    <action name="Execute">
      <prompt>Are you sure you want to Restart?</prompt>
      <command>sudo shutdown -r now </command>
    </action>
  </item>
  <item label="Shutdown">
    <action name="Execute">
      <prompt>Are you sure you want to Shutdown?</prompt>
      <command>sudo shutdown -h now </command>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="App Finder">
    <action name="Execute">
      <execute>xfce4-appfinder</execute>
    </action>
  </item>
  <menu id="apps-editors-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="apps-fileman-menu"/>
  <separator label="System" />
  <menu id="system-menu"/>
  <menu id="power-menu"/>
</menu>

</openbox_menu>
